
body {
	
}
h1 {

}
p {

}

.footer {

}

.footer-box {
	text-color: #FFFFFF;
	background-color: #62487F;
	padding: 20px 30px;
	border-radius: 16px;

	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);

	max-width: 400px;
	width: 90%;
}

.footer-box a {
	color: #DCDCDC;
	font-size: 10px;
	tex-decoration: none;
}

.footer-box a:hover {
	text-decoration: underline;
}
