
:root {
	--text: #AFAAB2;
	--pink: #AE7B8B;
	--mid-pink: #AE707F;
	--dark-pink: #996575;
	--purple: #7a7099;
	--mid-purple: #695f86;
	--dark-purple: #524a68;
	--background: #1e1b2b;
}


@font-face {
    font-family: 'IBM VGA';
    src: url('assets/IBM_VGA_8x16.woff') format(woff);
}

body {
	margin: 32px;
	font-family: 'IBM VGA';
	background-color: var(--background);
	color: var(--text);
}

.toolbar {
	text-align: center;
	position: sticky;
	top: 0;
	background-color: var(--background);
	padding: 16px 12px;
	z-index: 1000;

	box-shadow: 0 12px 28px var(--purple);
}

.toolbar:hover {
	box-shadow: 0 16px 32px var(--pink);
}

.toolbar-title {
	font-size: 24px;
	font-weight: bold;
}

.toolbar-title:hover {
	box-shadow: 0 16px 32px var(--pink);

}

main {
	color: var(--text);
	text-align: center;
	padding: 32px 16px;
}

main a {
	color: var(--purple);
}

main a:hover {
	box-shadow: 0 12px 28px var(--pink);
	color: var(--pink);

}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 40px 0;
	justify-content: center;
}

.footer-box {
	color: var(--text);
	background-color: var(--background);
	padding: 20px 30px;
	border-radius: 12px;
	border-color: var(--purple);

	box-shadow: 0 12px 28px var(--purple);

	max-width: 350px;
	width: 90%;
}

.footer-box:hover {
	color: var(--text);
	box-shadow: 0 16px 32px var(--pink);

}

.footer-box a {
	color: var(--purple);
	text-decoration: none;
}

.footer-box a:hover {
	color: var(--pink);
	text-decoration: underline;
	box-shadow: 0 16px 32px var(--pink);
}

.credits {
	padding: 12px 24px;
	border-radius: 12px;
	margin-top: 24px;
	text-align: center;
	font-size: 0.8em;
}

.credits a {
	color: var(--purple);
	text-decoration: none;
}

.credits a:hover {
	color: var(--pink);
	text-decoration: underline;
	box-shadow: 0 16px 32px var(--pink);
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
