
@font-face {
    font-family: 'IBM VGA';
    src: url('assets/IBM_VGA_8x16.woff') format(woff);
}

body {
	margin: 32px;
	font-family: 'IBM VGA';
	background-color: #1e1b2b;
	color: #AFAAB2;
}

.toolbar {
	text-align: center;
	position: sticky;
	top: 0;
	background-color: #151223;
	padding: 16px 12px;
	z-index: 1000;

	/* subtle separation */
	box-shadow: 0 8px 28px #7a7099;
}

.toolbar:hover {
	box-shadow: 0 12px 32px #AE7B8B;
}

.toolbar-title {
	font-size: 24px;
	font-weight: bold;
}

.toolbar-title:hover {
	box-shadow: 0 10px 30px #573d45;

}

main {
	color: #afaab2;
	text-align: center;
	padding: 32px 16px;
}

main a {
	color: #7a7099;
}

main a:hover {
	box-shadow: 0 12px 32px #AE7B8B;
	color: #AE707F;

}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.footer-box {
	color: #A09DA4;
	background-color: #1e1b2b;
	padding: 20px 30px;
	border-radius: 12px;
	border-color: #7a7099;

	/* Floating effect */
	box-shadow: 0 8px 28px #7a7099;

	max-width: 350px;
	width: 90%;
}

.footer-box:hover {
	color: #AFAAB2;
	box-shadow: 0 12px 32px #AE7B8B;

}

.footer-box a {
	color: #695f86;
	text-decoration: none;
}

.footer-box a:hover {
	color: #AE707F;
	text-decoration: underline;
	box-shadow: 0 10px 30px #573d45;
}

.credits {
	padding: 10px 20px;
	border-radius: 12px;
	margin-top: 20px;
	text-align: center;
	font-size: 0.8em;
}

.credits a {
	color: #695f86;
	text-decoration: none;
}

.credits a:hover {
	color: #ae707f;
	text-decoration: underline;
	box-shadow: 0 10px 30px #573d45;
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
